name: Terraform - Infraestructure

on:
  workflow_dispatch:
  push:
    branches:
      - master
      - infra/dev
    paths:
      - "**.tf"
      - ".github/workflows/infra.yml"

jobs:
  terraform:
    name: Apply infraestructura
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Install Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.11.3

      - name: Login to Azure
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Terraform Init
        run: terraform init

      - name: Syntax validation
        run: terraform validate

      - name: Terraform Plan
        run: terraform plan -var-file="terraform.tfvars"

      - name: Terraform Apply (automatic mode)
        if: github.ref == 'refs/heads/master'
        run: terraform apply -auto-approve -var-file="terraform.tfvars"

      - name: Notify Discord on failure
        if: failure()
        run: |
          curl -H "Content-Type: application/json" \
               -X POST \
               -d "{\"content\": \"❌ Infraestructura falló en el Push a master. Ver detalles en: ${{ github.event.head_commit.url }}\"}" \
               ${{ secrets.DISCORD_WEBHOOK_URL }}

      - name: Notify Discord on success
        if: success()
        run: |
          curl -H "Content-Type: application/json" \
               -X POST \
               -d "{\"content\": \"✅ Infraestructura pasó exitosamente en el Push a master. Ver detalles en: ${{ github.event.head_commit.url }}\"}" \
               ${{ secrets.DISCORD_WEBHOOK_URL }}
